body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* contenedor principal */

.main-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "header header header header"
                        "aside main main main"
                        "aside main main main"
                        "aside main main main"
                        "footer footer footer footer";
}

img{
    width: 250px;
    height: 250px;
}

/* encabezado */

.encabezado{
    text-align: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(194, 222, 209);
    color: rgb(53, 66, 89);
    grid-area: header;
    margin: 1%;
}

.encabezado p {
    width: 60ch;
}

/* parrafo descriptivo */

.description{
    align-self: center;
    justify-self: center;
}
/* contenido principal */


.main-content{
    margin: 1%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-items: center;
    background-color: hsl(152, 30%, 82%);

}

.card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: rgb(53, 66, 89);
    margin: 1.5%;
}

.lit, .trueno, .leon, .rene, .siddhartha, .duki, .tiago, .mon, .cancerbero{
    width: 250px;
    height: 250px;
    background: rgb(205, 194, 174);
    position: relative;
    transform-style: preserve-3d;
    transition: 1.5s ease;
    /* margin: 4em; */
}

.front, .back{
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back{
    transform: rotateY(180deg);
    text-align: center;
    padding: 15px;
}

.lit:hover {
    transform: rotateY(180deg);
}
.trueno:hover{
    transform: rotateY(180deg);
}

.leon:hover{
    transform: rotateY(180deg);
}

.rene:hover{
    transform: rotateY(180deg);
}

.siddhartha:hover{
    transform: rotateY(180deg);
}

.duki:hover{
    transform: rotateY(180deg);
}

.mon:hover{
    transform: rotateY(180deg);
}

.tiago:hover{
    transform: rotateY(180deg);
}

.cancerbero:hover{
    transform: rotateY(180deg);
}

button{
    color: rgb(53, 66, 89);
    border-radius: 2em;
    border: none;
    background-color: rgb(205, 194, 174);
}


ul{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin: 0;
    justify-items: center;
}

li{
    list-style-type: none;
    text-transform: inherit;
}

li a{
    color: rgb(53, 66, 89);
    text-decoration: none;
}

.navbar{
    background-color: rgb(236, 229, 199);
    margin: 1%;
    border-top:1px solid rgb(205, 194, 174)

}

footer{
    background-color: rgb(194, 222, 209);
    border-top: 1.5px solid rgb(53, 66, 89);
    padding-top: 0.5em;
    margin: 1%;

}

.footer{
    display: flex;
    justify-content: space-around;
    
}


@media screen and ( max-width: 510px ) {
    
    *{
        margin: 0;
        padding: 0;
    }
    .grid-container{
        grid-template-columns: 1fr;
        grid: auto;
    }
    .encabezado p{
        max-width: 40ch;
        text-align: center;
    }
    ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    
    }
    .card{
        font-size: 1.05em;
    }
}
